<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.econny.webapp.CarStoreDao.mybatis.dao.ScheduleMapper">

	<resultMap type="com.econny.webapp.CarStoreEntity.ScheduleEntity"
		id="scheduleHashEntity">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="serviceId" column="service_id" />
		<result property="carId" column="car_id" />
		<result property="price" column="price" />
		<result property="timeStart" column="time_start" />
		<result property="timeEnd" column="time_end" />
		<result property="description" column="description" />
		<result property="delFlag" column="del_flag" />
	</resultMap>
	
	<resultMap type="com.econny.webapp.CarStoreParam.ScheduleParam"
		id="scheduleHashParam">
		<result property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="serviceName" column="service_name" />
		<result property="carType" column="car_type" />
		<result property="price" column="price" />
		<result property="timeStart" column="time_start" />
		<result property="timeEnd" column="time_end" />
	</resultMap>
	
	<insert id="save" parameterType="com.econny.webapp.CarStoreEntity.ScheduleEntity">
		INSERT INTO schedule (
		id,
		user_id,
		service_id,
		car_id,
		price,
		time_start,
		time_end,
		description,
		del_flag
		) values(
		#{id},
		#{userId},
		#{serviceId},
		#{carId},
		#{price},
		#{timeStart},
		#{timeEnd},
		#{description},
		#{delFlag}
		)
	</insert>
	
	<insert id="saveBatch" parameterType="com.econny.webapp.CarStoreEntity.ScheduleEntity" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" timeout="20">
		INSERT INTO schedule (
		id,
		user_id,
		service_id,
		car_id,
		price,
		time_start,
		time_end,
		description,
		del_flag
		) values
		<foreach item="item" collection="list" separator=",">
			(#{item.id},#{item.userId},#{item.serviceId},#{item.carId},#{item.price},#{item.timeStart},#{item.timeEnd},#{item.description},#{item.delFlag})
		</foreach>
	</insert>

	<delete id="delete" parameterType="com.econny.webapp.CarStoreEntity.ScheduleEntity">
		DELETE FROM schedule
		where
		id =
		#{id}
	</delete>
	
	<update id="update" parameterType="com.econny.webapp.CarStoreEntity.ScheduleEntity">
		UPDATE schedule
		set 
		user_id = #{userId},
		service_id = #{serviceId},
		car_id = #{carId},
		price = #{price},
		time_start = #{timeStart},
		time_end = #{timeEnd},
		description = #{description}
		WHERE		
		id = #{id}
	</update>
	
	<update id="updateScheduleTime" parameterType="com.econny.webapp.CarStoreEntity.ScheduleEntity">
		UPDATE schedule
		set
		time_start = #{timeStart},
		time_end = #{timeEnd}
		WHERE		
		id = #{id}
	</update>

	<select id="findList" parameterType="com.econny.webapp.CarStoreEntity.ScheduleEntity" resultMap="scheduleHashEntity">
		SELECT * FROM schedule
		WHERE
			del_flag = 0
			<if test="id != null and id !=''">
				AND id = #{id}
			</if>
			<if test="userId != null and userId !=''">
				AND user_id = #{userId}
			</if>
			<if test="serviceId != null and serviceId !=''">
				AND service_id = #{serviceId}
			</if>
			<if test="carId != null and carId !=''">
				AND car_id = #{carId}
			</if>
			<if test="timeStart != null">
				AND time_start &gt;= #{timeStart,jdbcType=TIMESTAMP}
			</if>
			<if test="timeEnd != null">
				AND time_end &lt;= #{timeEnd,jdbcType=TIMESTAMP}
			</if>
	</select>

	<select id="findSchedulePrice" parameterType="com.econny.webapp.CarStoreEntity.ScheduleEntity" resultType="Double">
		SELECT scp.price AS price FROM user_car usc LEFT 
		JOIN service_car_price scp ON (scp.car_type_id = usc.car_type_id) 
		WHERE
			scp.del_flag = 0
			<if test="serviceId != null and serviceId !=''">
				AND scp.service_id = #{serviceId}
			</if>
			<if test="carId != null and carId !=''">
				AND usc.id = #{carId}
			</if>
	</select>
	
	<select id="findScheduleDetail" parameterType="com.econny.webapp.CarStoreEntity.ScheduleEntity" resultMap="scheduleHashParam">
		SELECT 
			sch.id AS id, 
			usr.name AS user_name, 
			cat.name AS car_type, 
			ser.name AS service_name, 
			sch.price AS price, 
			sch.time_start AS time_start, 
			sch.time_end AS time_end 
		FROM schedule sch
			LEFT JOIN user usr
			ON sch.user_id = usr.id
			LEFT JOIN user_car usc
			ON sch.car_id = usc.id
			LEFT JOIN service ser
			ON sch.service_id = ser.id
			LEFT JOIN car_type cat
			ON usc.car_type_id = cat.id
		WHERE
		sch.del_flag = 0
		<if test="id!= null and id !=''">
			AND sch.id = #{id}
		</if>
		<if test="userId != null and userId !=''">
			AND sch.user_id = #{userId}
		</if>
	</select>

	<select id="findListForManagement" parameterType="com.econny.webapp.CarStoreParam.ScheduleSearchParam" resultMap="scheduleHashParam">
		SELECT 
			sch.id AS id, 
			usr.name AS user_name,
			cat.name AS car_type, 
			ser.name AS service_name, 
			sch.price AS price, 
			sch.time_start AS time_start, 
			sch.time_end AS time_end
		FROM schedule sch
			LEFT JOIN user usr
			ON sch.user_id = usr.id
			LEFT JOIN user_car usc
			ON sch.car_id = usc.id
			LEFT JOIN service ser
			ON sch.service_id = ser.id
			LEFT JOIN car_type cat
			ON usc.car_type_id = cat.id
		WHERE
			sch.del_flag = 0
			<if test="userName != null and userName !=''">
				AND usr.name = #{userName}
			</if>
			<if test="carTypeId != null and carTypeId !=''">
				AND usc.car_type_id = #{carTypeId}
			</if>
			<if test="serviceId != null and serviceId !=''">
				AND sch.service_id = #{serviceId}
			</if>
			<if test="timeStart != null">
				AND sch.time_start &gt;= #{timeStart,jdbcType=TIMESTAMP}
			</if>
			<if test="timeEnd != null">
				AND sch.time_end &lt;= #{timeEnd,jdbcType=TIMESTAMP}
			</if>
	</select>

</mapper>