<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.econny.webapp.CarStoreDao.mybatis.dao.UserMapper">

	<resultMap type="com.econny.webapp.CarStoreEntity.UserEntity"
		id="userHashEntity">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="role_id" column="roleId" />
		<result property="del_flag" column="delFlag" />
	</resultMap>
	
	<insert id="save" parameterType="com.econny.webapp.CarStoreEntity.UserEntity">
		INSERT INTO user (
		id,
		name,
		password,
		role_id,
		del_flag
		) values(
		#{id},
		#{name},
		#{password},
		#{roleId},
		#{delFlag}
		)
	</insert>
	
	<insert id="saveBatch" parameterType="com.econny.webapp.CarStoreEntity.UserEntity" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" timeout="20">
		INSERT INTO user (
		id,
		name,
		password,
		role_id,
		del_flag
		) values
		<foreach item="item" collection="list" separator=",">
			(#{item.id}, #{item.name}, #{item.password},#{item.roleId}, #{item.delFlag})
		</foreach>
	</insert>

	<delete id="delete" parameterType="com.econny.webapp.CarStoreEntity.UserEntity">
		DELETE FROM user
		where
		id =
		#{id}
	</delete>
	
	<update id="update" parameterType="com.econny.webapp.CarStoreEntity.UserEntity">
		UPDATE user
		set 
		name = #{name},
		password = #{password},
		role_id = #{roleId}
		WHERE		
		id = #{id}
	</update>

	<select id="findList" parameterType="com.econny.webapp.CarStoreEntity.UserEntity" resultMap="userHashEntity">
		SELECT * FROM user
		WHERE
			del_flag = 0
			<if test="id != null and id !=''">
				AND id = #{id}
			</if>
			<if test="name != null and name !=''">
				AND name = #{name}
			</if>
			<if test="password != null and password !=''">
				AND password = #{password}
			</if>
	</select>

</mapper>