<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.econny.webapp.CarStoreDao.mybatis.dao.UserRoleServiceMapper">

	<resultMap type="com.econny.webapp.CarStoreEntity.UserRoleServiceEntity"
		id="userRoleServiceHashEntity">
		<result property="id" column="id" />
		<result property="userRoleId" column="user_role_id" />
		<result property="serviceId" column="service_id" />
		<result property="description" column="description" />
		<result property="delFlag" column="del_flag" />
	</resultMap>
	
	<insert id="save" parameterType="com.econny.webapp.CarStoreEntity.UserRoleServiceEntity">
		INSERT INTO user_role_service (
		id,
		user_role_id,
		service_id,
		description,
		del_flag
		) values(
		#{id},
		#{userRoleId},
		#{serviceId},
		#{description},
		#{delFlag}
		)
	</insert>
	
	<insert id="saveBatch" parameterType="com.econny.webapp.CarStoreEntity.UserRoleServiceEntity" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" timeout="20">
		INSERT INTO user_role_service (
		id,
		user_role_id,
		service_id,
		description,
		del_flag
		) values
		<foreach item="item" collection="list" separator=",">
			(#{item.id}, #{item.userRoleId}, #{item.serviceId}, #{item.description}, #{item.delFlag})
		</foreach>
	</insert>

	<delete id="delete" parameterType="com.econny.webapp.CarStoreEntity.UserRoleServiceEntity">
		DELETE FROM user_role_service
		where
		id =
		#{id}
	</delete>
	
	<update id="update" parameterType="com.econny.webapp.CarStoreEntity.UserRoleServiceEntity">
		UPDATE user_role_service
		set 
		user_role_id = #{userRoleId},
		service_id = #{serviceId},
		description = #{description}
		WHERE		
		id = #{id}
	</update>

	<select id="findList" parameterType="com.econny.webapp.CarStoreEntity.UserRoleServiceEntity" resultMap="userRoleServiceHashEntity">
		SELECT * FROM user_role_service
		WHERE
			del_flag = 0
			<if test="id != null and id !=''">
				AND id = #{id}
			</if>
			<if test="userRoleId != null and userRoleId !=''">
				AND user_role_id = #{userRoleId}
			</if>
			<if test="serviceId != null and serviceId !=''">
				AND service_id = #{serviceId}
			</if>
	</select>

</mapper>