<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>车店管理用户详细信息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">		
		<link href="/CarStoreWeb/public/car_store/css/all.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/reference_node_oauth/css/animate.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	</head>
	<body class="bg-info page-background">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img class="herder-icon" alt="Brand" src="/CarStoreWeb/public/reference_node_oauth/img/icon-header.png">
					</a>
				</div>
				<div class="navbar-header">
					<a class="navbar-brand" href="/CarStoreWeb/">
						Main
					</a>
				</div>
				<div id="logoutTitle" class="navbar-header pull-right ">
					<span class="navbar-brand">
						Logout
					</span>
				</div>
				<div id="loginTitle" class="navbar-header pull-right">
					<a href="/CarStoreWeb/user/login" class="navbar-brand">
						Login
					</a>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<ol class="breadcrumb">
				<li><a class="a-clean" href="/CarStoreWeb">主页</a></li>
			</ol>
		</div>
		
		<div class="container">
			<h2>用户信息</h2>
			<div class="table-responsive">
				  <table class="table table-bordered text-center table-hover">
				      <th>
				          <td>用户名</td>
				          <td>角色</td>
				      </th>
					  <tr>
					  	<td></td>
					    <td>$!{userBaseInfo.user.name}</td>
					    <td>$!{userBaseInfo.user.role}</td>
					  </tr>
				  </table>
				</div>
			</div>
		</div>
		
		<div class="container">
			<h2>用户车列表</h2>
			<div class="table-responsive">
				  <table class="table table-bordered text-center table-hover">
				      <th>
				          <td>用户</td>
				          <td>车型</td>
				          <td>描述信息</td>
				      </th>
					  #foreach($car in $userBaseInfo.carList)
					  <tr>
					  	<td></td>
					    <td>$!{car.userName}</td>
					    <td>$!{car.carType}</td>
					    <td>$!{car.description}</td>
					  </tr>
					  #end
				  </table>
				</div>
			</div>
		</div>
		
	</body>	
    <script src="/CarStoreWeb/public/reference_node_oauth/js/jquery-3.0.0.min.js"></script>
    <script src="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
    <script src="/CarStoreWeb/public/reference_node_oauth/js/jquery-cookie-master/src/jquery.cookie.js"></script>
    <script src="/CarStoreWeb/public/js/ajaxfileupload.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/jquery_extension/jquery_extension.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/common/common.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/user/register.js"></script>
</html>