<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>车店管理系统主页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">	
		<link href="/CarStoreWeb/public/car_store/css/all.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/reference_node_oauth/css/animate.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/reference_node_oauth/css/bootstrap.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/reference_node_oauth/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/reference_node_oauth/js/bootstrap-modal-master/css/bootstrap-modal.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/reference_node_oauth/js/bootstrap-modal-master/css/all.css" rel="stylesheet">
	</head>
	<body class="bg-info page-background">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header pull-left">
					<a class="navbar-brand a-clean" href="/CarStoreWeb">主页</a>
				</div>
				<div id="logoutTitle" class="navbar-header pull-right ">
					<span class="navbar-brand">
						退出
					</span>
				</div>
				<div id="loginTitle" class="navbar-header pull-right">
					<a href="/CarStoreWeb/user/login" class="navbar-brand">
						登录
					</a>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="table-responsive">
			  <table class="table table-bordered text-center bg-danger">
				  <tr>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/user/register"><div class="fill-parent">用户注册</div></a></td>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/user/baseInfo"><div class="fill-parent">用户基础信息</div></a></td>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/serviceCarPrice/detail"><div class="fill-parent">服务列表</div></a></td>
				  </tr>
				  <tr>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/schedule/calendar"><div class="fill-parent">预约日历</div></a></td>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/schedule/reserve"><div class="fill-parent">服务预约</div></a></td>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/schedule/search"><div class="fill-parent">预约查询</div></a></td>
				  </tr>
			  </table>
			</div>
			#if ($user.roleId=="222" || $user.roleId=="333")
			<div class="table-responsive">
			  <table class="table table-bordered text-center bg-danger">
				  <tr>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/schedule/management"><div class="fill-parent">预约管理</div></a></td>
				  </tr>
			  </table>
			</div>
			#end
			#if ($user.roleId=="333")
			<div class="table-responsive">
			  <table class="table table-bordered text-center bg-danger">
				  <tr>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/system/init"><div class="fill-parent">系统配置</div></a></td>
				  	<td class="td-hover"><a class="a-clean" href="/CarStoreWeb/user/management"><div class="fill-parent">用户管理</div></a></td>
				  </tr>
			  </table>
			</div>
			#end
		</div>
	</body>	
    <script src="/CarStoreWeb/public/reference_node_oauth/js/jquery-3.0.0.min.js"></script>
    <script src="/CarStoreWeb/public/reference_node_oauth/js/bootstrap.min.js"></script>
    <script src="/CarStoreWeb/public/reference_node_oauth/js/bootstrap-modal-master/js/bootstrap-modalmanager.js"></script>
    <script src="/CarStoreWeb/public/reference_node_oauth/js/bootstrap-modal-master/js/bootstrap-modal.js"></script>
    <script src="/CarStoreWeb/public/reference_node_oauth/js/jquery-cookie-master/src/jquery.cookie.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/jquery_extension/jquery_extension.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/common/common.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/index.js"></script>
</html>