.a-clean {
  text-decoration: none;
  color: black; 
 }

.a-clean:hover {
  text-decoration: none;
  color: black; }

.full-page {
  width: 100%;
  height: 100%; }

.fill-login-upper-content {
  height: 200px; }

.fill-table-upper-content {
  height: 80px; }

.herder-icon {
  margin-top: -15px;
  margin-left: -18px; }

.fade-a-lot {
  opacity: 0.6; }

.td-hover:hover {
  background-color: #d9534f; }

.fill-parent{
  width: 100%;
  height: 100%;
}

.padding-one{
	padding: 1em;
}