<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>车店管理预约管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">		
		<link href="/CarStoreWeb/public/car_store/css/all.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/reference_node_oauth/css/animate.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    	<link href="/CarStoreWeb/public/car_store/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	</head>
	<body class="bg-info page-background">
		<form id="toModifyPageForm" class="hidden" action="/CarStoreWeb/schedule/modify">
			<input type="text" name="sessionId"/>
			<input type="text" name="scheduleId"/>
		</form>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img class="herder-icon" alt="Brand" src="/CarStoreWeb/public/reference_node_oauth/img/icon-header.png">
					</a>
				</div>
				<div id="logoutTitle" class="navbar-header pull-right ">
					<span class="navbar-brand">
						Logout
					</span>
				</div>
				<div id="loginTitle" class="navbar-header pull-right">
					<a href="/CarStoreWeb/user/login" class="navbar-brand">
						Login
					</a>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<ol class="breadcrumb">
				<li><a class="a-clean" href="/CarStoreWeb">主页</a></li>
			</ol>
		</div>
		
		<div class="container">
			<h2>服务预约查询</h2>
			<form id="scheduleManagementForm" class="form-horizontal" role="form">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
			    <div class="col-sm-10">
			      <input id="userName" class="form-control" type="text" placeholder="用户名"/>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">车型</label>
			    <div class="col-sm-10">
			      <select id="managementCarType" class="form-control">
					  <option></option>
					  #foreach($carType in $scheduleManagementParam.carTypeList)
					      <option value='$!{carType.id}'>$!{carType.name}----$!{carType.description}</option>
					  #end
				  </select>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">服务</label>
			    <div class="col-sm-10">
			      <select id="managementService" class="form-control">
					  <option></option>
					  #foreach($service in $scheduleManagementParam.serviceList)
					      <option value='$!{service.id}'>$!{service.name}</option>
					  #end
				  </select>
			    </div>
			  </div>
			  <div class="form-group">
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">开始时间</label>
			    <div class="col-sm-10">
					<div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
					        <input id="scheduleStartTime" class="form-control" size="16" type="text" value="" readonly>
					        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
					</div>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">结束时间</label>
			    <div class="col-sm-10">
					<div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
					        <input id="scheduleEndTime" class="form-control" size="16" type="text" value="" readonly>
					        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
					</div>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default">提交</button>
			      <button type="reset" class="btn btn-default">取消</button>
			    </div>
			  </div>
			</form>
		</div>
		
		<div class="container">

			<div id="displayUsers" class="hidden">
                <br/>
                <fieldset class="schedule-management-item">
                	<legend>预约信息</legend>
                	<span class="hidden id"></span>
                	<div>
						<span>用户名： </span><span class="userName"></span><br/>
						<span>服务名： </span><span class="serviceName"></span><br/>
						<span>车类型： </span><span class="carType"></span><br/>
						<span>价格： </span><span class="price"></span><br/>
						<span>开始时间： </span><span class="timeStart"></span><br/>
						<span>结束时间： </span><span class="timeEnd"></span><br/>
                	</div>
                </fieldset>
			</div>
		</div>
	</body>	
    <script src="/CarStoreWeb/public/reference_node_oauth/js/jquery-3.0.0.min.js"></script>
    <script src="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
    <script src="/CarStoreWeb/public/reference_node_oauth/js/jquery-cookie-master/src/jquery.cookie.js"></script>
    <script src="/CarStoreWeb/public/js/ajaxfileupload.js"></script>
	<script src="/CarStoreWeb/public/car_store/bootstrap-datepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script src="/CarStoreWeb/public/car_store/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="/CarStoreWeb/public/car_store/js/jquery_extension/jquery_extension.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/common/common.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/common/bootstrap-calendar-setting.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/transparency.min.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/schedule/management.js"></script>
</html>