<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>车店管理用户预约列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">		
		<link href="/CarStoreWeb/public/car_store/css/all.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/reference_node_oauth/css/animate.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    	<link href="/CarStoreWeb/public/car_store/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	</head>
	<body class="bg-info page-background">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header pull-left">
					<a class="navbar-brand a-clean" href="/CarStoreWeb">主页</a>
				</div>
				<div class="navbar-header pull-left">
					<a class="navbar-brand a-clean" href="/CarStoreWeb/schedule/search">/预约查询</a>
				</div>
				<div id="logoutTitle" class="navbar-header pull-right ">
					<span class="navbar-brand">
						退出
					</span>
				</div>
				<div id="loginTitle" class="navbar-header pull-right">
					<a href="/CarStoreWeb/user/login" class="navbar-brand">
						登录
					</a>
				</div>
			</div>
		</nav>
		
		<div class="container">
		  <div class="form-group">
			  #foreach($schedule in $scheduleList)
			    <div>
					  <table class="table table-bordered text-center bg-default">
						  <tr>
						  	<td>用户</td><td>$!{schedule.userName}</td>
						  </tr>
						  <tr>
						  	<td>车类型</td><td>$!{schedule.carType}</td>
						  </tr>
						  <tr>
						  	<td>服务</td><td>$!{schedule.serviceName}</td>
						  </tr>
						  <tr>
						  	<td>价格</td><td>$!{schedule.price}</td>
						  </tr>
						  <tr>
						  	<td>开始时间</td><td>$dateTool.format('yyyy-MM-dd HH:mm:ss',$!{schedule.timeStart})</td>
						  </tr>
						  <tr>
						  	<td>结束时间</td><td>$dateTool.format('yyyy-MM-dd HH:mm:ss',$!{schedule.timeEnd})</td>
						  </tr>
						  <tr>
						  	<td></td><td><div title='$!{schedule.id}' class="schedule-search-item pull-right btn btn-default">删除</div></td>
						  </tr>
					  </table>
			    </div>
			  #end
		  </div>
		</div>
		
	</body>	
    <script src="/CarStoreWeb/public/reference_node_oauth/js/jquery-3.0.0.min.js"></script>
    <script src="/CarStoreWeb/public/car_store/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
    <script src="/CarStoreWeb/public/reference_node_oauth/js/jquery-cookie-master/src/jquery.cookie.js"></script>
    <script src="/CarStoreWeb/public/js/ajaxfileupload.js"></script>
	<script src="/CarStoreWeb/public/car_store/bootstrap-datepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script src="/CarStoreWeb/public/car_store/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="/CarStoreWeb/public/car_store/js/jquery_extension/jquery_extension.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/common/common.js"></script>
    <script src="/CarStoreWeb/public/car_store/js/schedule/search.js"></script>
</html>